.container {
}

.slide {
}

.sliderArrows--banner  {
  bottom: -3em;
  width: 40%;
}

.slideChildrenContainer .carousel .sliderArrows {
   width: 40%;
  
  
}

.sliderArrows {
 color: #ffffff;
}

.imageElement {
  top: 0;
  border-radius: 20px;
}

.paginationDotsContainer {
  bottom: -3em;
}

.categories .slideChildrenContainer  {
  background-color: brown;
}